# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Databases
*.db
*.sqlite3

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
